* {
    box-sizing: border-box;
  }

body    {
    font-family: sans-serif;
    text-align: center;
    background-color: black; 
}

h1  {-webkit-animation: color-change 0.3s infinite;
    -moz-animation: color-change 0.3s infinite;
    -o-animation: color-change 0.3s infinite;
    -ms-animation: color-change 0.3s infinite;
    animation: color-change 0.3s infinite;
}

@-webkit-keyframes color-change {
    10% { color: red; }
    30% { color: blue; }
    50% { color: yellow; }
    70% { color: green; }
    90% { color: orange; }
}
@-moz-keyframes color-change {
    10% { color: red; }
    30% { color: blue; }
    50% { color: yellow; }
    70% { color: green; }
    90% { color: orange; }
}
@-ms-keyframes color-change {
    10% { color: red; }
    30% { color: blue; }
    50% { color: yellow; }
    70% { color: green; }
    90% { color: orange; }
}
@-o-keyframes color-change {
    10% { color: red; }
    30% { color: blue; }
    50% { color: yellow; }
    70% { color: green; }
    90% { color: orange; }
}
@keyframes color-change {
    10% { color: red; }
    30% { color: blue; }
    50% { color: yellow; }
    70% { color: green; }
    90% { color: orange; }
}

nav {
    background-color: white;
}

nav li  {
    display: inline-block;
    padding: 20px;
}

nav li a    {
    text-decoration: none;
    color: black;
    transition-duration: 0.3s;
    padding: 14px 16px ;
}

nav li a:hover  {
    background-color: pink;
    color: black;
    border: solid black;
}

.top-nav    {
    overflow: hidden;

}

div.gallery {
    display: inline-block;
    border: solid white;
    transition-duration: 0.3s;
}

div.gallery:hover   {
    border: solid pink;
}

header  {
    height: 100px;
}

div.information {
    padding: 30px;
    color: white;
}

